name: Deploy to UAT subdir

on:
  push:	
    branches:	
      - main

jobs:
  push-to-branch:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: /
        GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}